/* $Id$ */
body { color: black; background-color: white; margin: 0.5cm; } 
a:link, a:visited { color: #900000; }       
p { margin-left: 0.5cm; margin-right: 0.5cm; }
div.news-date { margin-left: 0.5cm; font-size: 80%; color: #4f0000; } 
p.news-text { margin-left: 1cm; }
ul { margin-left: .5cm; }
ol { margin-left: .5cm; }
h1 { color: #00009F; }
h2 { color: #00009F; }
h3 { color: #00004F; margin-left: 0.5cm; }
pre { margin-left: .5cm; background-color: #f0f0f0; padding: 0.4cm;}
